body {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;

  --color-blue: #063266;
  --color-black: #000000;
  --color-grey: #8c8c8c;
  --color-green: #00b51b;
  --color-turquoise: #3cb39a;
  --color-orange: #ff8000;
  --color-white: #ffffff;
}
