@import "../index.scss";

.tag {
  width: fit-content;
  height: 16px;
  border-radius: 4px;
  background-color: #b3e9bb;
  padding: 0 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
