.typography {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  &.large {
    font-size: 40;
  }
  &.title {
    font-size: 14;
  }
  &.body {
    font-size: 10;
  }

  &.medium {
    font-style: normal;
  }
  &.bold {
    font-style: bold;
  }

  &.blue {
    color: #063266;
  }
  &.black {
    color: black;
  }
  &.grey {
    color: #8c8c8c;
  }
  &.green {
    color: #00b51b;
  }

  &.turquoise {
    color: #3cb39a;
  }
}
